.container{
  margin: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.password__text {
  margin-top: 10px;
}

.Character__lenght{
  display: flex;
  flex-direction: column;
}

.Character__lenght > span{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.Character__lenght > input {
  margin-top: 20px;
}

.checkbox {
  margin: 10px;
}

.checkbox__input{
  margin-right: 10px;
}

.error__message{
  color: red;
  font-size: 13px;
}

.generate_button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 23px;
}